body {

    background-image: url(Imagem/pexels-shawn-stutzman-1010496.jpg);
    font-family: 'Open Sans' sans-serif;

}

header {

    border-bottom: 1px solid white;
    display: flex;
    width: 100%;
    margin: auto;
    padding: 0px;
    margin-top: auto;
}

header ul li {

    display: inline;
    list-style: none;
    margin: 10px 20px;

}

header ul li a {

    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background.1s;

}

header li a:hover {

    color: blue;

}

section h1{

display: inline-block;
font-size: 40px;
color: white;


}

section h2{

display: flex;
padding-left: 80px;
font-size: 30px;
color: white;


}

section ol {

color: white;
font-size: 20px;


}

section li{

padding-top: 20px;

}

section img{

width: 40%;
margin-top: 40px;
border: 3px solid white;


}

footer#rodape {

    clear: both;
    border-top: 1px solid white;
    margin-top: 120px;

}

footer#rodape p {
    text-align: center;
    color: white;

}