body {

    background-image: url(Imagem/pexels-shawn-stutzman-1010496.jpg);
    font-family: 'Open Sans' sans-serif;

}

header {

    border-bottom: 1px solid white;
    display: flex;
    width: 100%;
    margin: auto;
    padding: 0px;
    margin-top: auto;
}

header ul li {

    display: inline;
    list-style: none;
    margin: 10px 20px;

}

header ul li a {

    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background.1s;

}

header li a:hover {

    color: blue;

}


section h1{

display: inline-block;
margin-top: 200px;

}

.titulo> h1{

display: inline-block;
font-size: 30px;
color: white;



}


section ol {

color: white;
float: right;
padding: 50px;
border: 1px solid white;
background-color: #363636;


}

section li {

font-size: 18px;
padding: 10px;


}

footer#rodape {

    clear: both;
    border-top: 1px solid white;
    

}

footer#rodape p {
    text-align: center;
    color: white;
}